<footer class="border-top footer text-muted bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5>HotelReservas</h5>
                <p>Sistema de reservas para cadenas hoteleras</p>
            </div>
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-telephone"></i> +52 55 1234 5678</li>
                    <li><i class="bi bi-envelope"></i> contacto@hotelreservas.com</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Síguenos</h5>
                <div class="social-links">
                    <a href="#" class="text-decoration-none me-2"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="text-decoration-none me-2"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="text-decoration-none"><i class="bi bi-twitter"></i></a>
                </div>
            </div>
        </div>
        <div class="text-center mt-3">
            &copy; @DateTime.Now.Year - HotelReservas
        </div>
    </div>
</footer>
